.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #35c611;
    color: white;
  }
  
  .navbar .logo {
    font-size: 24px;
    font-weight: bold;
  }
  .navbar .logo span{ 
    color: rgb(4, 107, 180);}
  .navbar .menu a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
  }
  
  .navbar .menu a:hover {
    text-decoration: underline;
  }