/* Navbar styles */

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.popup-cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three columns for the cards */
    gap: 20px; /* Space between the cards */
    margin-top: 15px;
  }
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0a7542;
    padding: 10px 20px;
  }
  
  .navbar-logo {
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
  }
  
  .navbar-menu {
    display: flex;
    gap: 20px;
    list-style: none;
  }
  
  .navbar-menu-item {
    color: rgb(4, 4, 4);
    font-size: 16px;
    cursor: pointer;
    position: right;
  }
  
  .navbar-menu-item:hover {
    text-decoration: underline;
  }
  
  /* Pop-up container styles */
  .popup-container {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    z-index: 1000;
    display: flex;
    justify-content: space-around;
    border-radius: 8px;
  }
  
  .popup-header {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .popup-body {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .popup-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    

    
  }
  
  .popup-card:hover{
    background-color: rgb(215, 235, 249);

  }
  
  .popup-card-image {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px; 
  }
  
  .popup-card h3 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }
  
  .popup-card p {
    font-size: 14px;
    color: #555;
    margin: 0;
  }
  
  .see-all-link {
    font-size: 16px;
    color: #0a7542;
    font-weight: bold;
    text-decoration: none;
    margin-top: 10px;
  }
  
  .see-all-link:hover {
    text-decoration: underline;
  }
  
  /* Button styles */
  .speak-button {
    background-color: white;
    color: #0a7542;
    font-size: 16px;
    font-weight: bold;
    padding: 8px 16px;
    border-radius: 20px;
    border: 2px solid #0a7542;
    cursor: pointer;
  }
  
  .speak-button:hover {
    background-color: #f4f4f4;
  }
  
  /* Landing Page Styles */
  .landing-header {
    text-align: center;
    margin: 20px auto;
    padding: 20px;
  }
  
  .landing-header h1 {
    font-size: 36px;
    font-weight: bold;
    color: #0a7542;
  }
  
  .landing-header p {
    font-size: 18px;
    color: #555;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .popup-container {
      flex-direction: column;
      padding: 15px;
    }
  
    .popup-card {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .popup-card img {
      width: 100%;

      height: auto;
    }
  }
  

